# EditorConfig is awesome: https://EditorConfig.org

root = true # 上位の階層にある.editorconfigを探索しない

[*]
max_line_length = 120 # int(ex:80, 120), 0(無効), 競合に注意
charset = utf-8  # latin1, utf-8, utf-8-bom, utf-16be utf-16le
indent_style = space  # space, tab
indent_size = 4 # int(ex:2, 4), tab
# tab_width = 4  # int(ex:2, 4) indent_sizeより優先される
end_of_line = lf # lf, cr, crlf
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[*.{bat,cmd}]
end_of_line = crlf

[Makefile]
indent_style = tab

[*.{htm,html}]
indent_size = 2

[lib/**.js]
indent_size = 2

[{package.json,.travis.yml}]
indent_size = 2
