# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
charset = utf-8  # latin1, utf-8, utf-8-bom, utf-16be utf-16le
indent_style = space  # space, tab
indent_size = 4 # int(ex:2, 4), tab
# tab_width = 4  # int(ex:2, 4) indent_sizeより優先される
end_of_line = lf # lf, cr, crlf
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{bat,cmd}]
end_of_line = crlf
indent_size = 2

[Makefile]
indent_style = tab

[lib/**.js]
indent_size = 2

[{package.json,.travis.yml}]
indent_size = 2
